.navbar {
	position: fixed;
	width: 100%,
		padding: 10px;
	margin: auto;
	text-align: center;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 15px;
	background-color: darkgrey;
	color: white;
	text-align: center;
	color: white;
	font-size: 15px;
}
.container1 {
	margin-top: 170px;
	margin-bottom: 80px;

}
.container2 {

	margin-bottom: 200px;
}
.footer a {
	color: white;
	font-size: 10px;
	text-align: center;
}

.img-fluid{
    padding: 10px;
}

.quelle{
    padding: 8px;
    font-size: 9px;
}